<a href="https://colab.research.google.com/github/AdieshwarReddy/2311cs020426-sigma-section-day3/blob/main/demo123.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a ="adie";
b=27
c=5.9
d='Excelr solutions';
e=True

str

In [ ]:
type(a)

In [ ]:
a =10
print(a/b)

NameError: name 'b' is not defined

In [ ]:
"hello" + "world"

'helloworld'

In [ ]:
import pandas as pd
import numpy as np
 import matplotlib.pyplot as plt

IndentationError: unexpected indent (<ipython-input-7-e2febb348a26>, line 3)

In [ ]:
# Declare variables of different data types
my_integer = 10           # Integer
my_float = 20.5           # Float
my_string = "Hello, Jupyter!"  # String
my_boolean = True         # Boolean

# Print each variable and its type
print("Variable Values and Their Types:")
print(f"Integer: {my_integer}, Type: {type(my_integer)}")
print(f"Float: {my_float}, Type: {type(my_float)}")
print(f"String: '{my_string}', Type: {type(my_string)}")
print(f"Boolean: {my_boolean}, Type: {type(my_boolean)}")

Variable Values and Their Types:
Integer: 10, Type: <class 'int'>
Float: 20.5, Type: <class 'float'>
String: 'Hello, Jupyter!', Type: <class 'str'>
Boolean: True, Type: <class 'bool'>

In [ ]:
s={40,50,60,70}
s
y={2,3,30,40}
s.intersection(y)
s.difference(y)
s.union(y)
s.add(3)
s.difference(y)
y.difference(s)
s.symmetric_difference(y)

{2, 30, 50, 60, 70}

In [ ]:
a=[1,2,3,4,5,5,66]
a
set= {22,23,34,43,0}
set

{0, 22, 23, 34, 43}

In [ ]:
t1=(1,23,34,432)
t2=(3)
t1+t2

TypeError: can only concatenate tuple (not "int") to tuple

In [ ]:
d={101:3,123:22,1231:1}
d

{101: 3, 123: 22, 1231: 1}

In [ ]:
d.update({101:33})
d

{101: 33, 123: 22, 1231: 1}

In [ ]:
del d[101]

KeyError: 101

In [ ]:
d[101]=1111
d

{101: 1111, 123: 22, 1231: 1}

In [ ]:
  d.get(101)

1111

In [ ]:
d[101]=[111,222,2123,28190]
d[101][2]# accessing

2123

In [ ]:
d.update({1231:(1,2,3,4,44,4)})
d

{123: 22, 1231: (1, 2, 3, 4, 44, 4), 101: [111, 222, 2123, 28190]}

In [ ]:
e=[1,'w','33',2.6]
e=('q',2,3.4,33)
e={1:11,2:'ee'}
e={11,11,'ee'}
type(e)

set

In [ ]:
{101 :{50: [7,8,9,10] ,'apple':(20,10.70,[90,181,270])}}
#109 :(11, 2, 34, 55),
#104=[1,2,2,3,3,4,3,2],
#105:{'a':{30,50,70}}
type(d[101])

int

In [ ]:

n = int(input("Enter a positive integer: "))


print("\nNumbers from 1 to", n, ":")
for i in range(1, n + 1):
    print(i)


sum_of_numbers = 0
counter = 1

while counter <= n:
    sum_of_numbers += counter
    counter += 1


print("\nThe sum of numbers from 1 to", n, "is:", sum_of_numbers)

Enter a positive integer: 3

Numbers from 1 to 3 :
1
2
3

The sum of numbers from 1 to 3 is: 6

In [ ]:

def calculate_square(n):
    return n ** 2
__
num = int(input("Enter a positive integer: "))

result = calculate_square(num)
print(f"The square of {num} is: {result}")

Enter a positive integer: 5
The square of 5 is: 25

In [1]:
if condition1:
  task1 block of code
  elif condition2:
    task2 block of Code
  elif condition3:
      task3 block of code
      else:
        task4 block of code

SyntaxError: invalid syntax (<ipython-input-1-62b0a8535a81>, line 2)

In [3]:
x = 9
if x%2==0:
  print("Even")
else:
  print("odd")

odd

In [4]:
name ='Channel'
if name.isalpha()==True:
else:
  print("Name should not contain digits and symbols")

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-4-ce03570c9df1>, line 3)

In [6]:
x='Telangana'
x

'Telangana'

In [7]:
x='Maharastra'
x

'Maharastra'

In [8]:
x='mumbai'
x

'mumbai'

In [11]:
x='sfshksl'
x=input("Enter a string:")
if(x[0]=='m' or x[0]=='M'):
  print("Correct")
else:
  print("Incorrect")

Enter a string:m
Correct

In [ ]:
x='arunachal pradesh'
x=input("Enter a string:")
if x[0]=='a' or x[0]=='A' or x[0]=="c":
  print("Correct")
else:
  print("Incorrect")

In [ ]:
x = input("hii ")
if x[0].lower()=='m'or x[0].lower()=='s'or x[0].lower()=='c':
  print("Correct")
else:
  print("Incorrect")

In [ ]:
x='ghjk'
if x[0] .lower() in ['m','s','c']:
  print("Correct")
else:
  print("Incorrect")