<a href="https://colab.research.google.com/github/AdieshwarReddy/2311cs020426-sigma-section-day3/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  day 8 notes
def calculateArea(r):
  area = 3.14 * r * r
  return area
calculateArea(10)

314.0

In [ ]:
def area(l,s):
  r=l*s
  return r
  area(10,20)

In [ ]:
def area (radius,length,width):
  aoc=3.14*radius*radius
  aor=length*width
  return aoc,aor
area(1,2,33)

(3.14, 66)

In [ ]:
def area (radius,length,width):
  aoc=3.14*radius*radius
  aor=length*width
  return {"Area of rectangle  is:" :aor,"area of circle is:":  aoc }
area(1,2,33)

{'Area of rectangle  is:': 66, 'area of circle is:': 3.14}

In [ ]:
aor,aoc=area(radius=6,length=2,width=3)
aor
aoc

'area of circle is:'

In [ ]:
s=area(radius=6,length=2,width=3)
s
type(s)

dict

In [ ]:
s["Area of rectangle  is:"]

6

In [ ]:
t='hyderabad 500008 Telangana'
t

'hyderabad 500008 Telangana'

In [ ]:
# to count the no of numbers and alphabets and space
def count(t):
 alpha =0
 space=0
 digit=0

for i in t:
  if i.isalpha():
    alpha=alpha+1
  if i.isspace():
    space=space+1
  if i.isdigit():
    digit=digit+1
  return alpha,space,digit

In [ ]:
count("hyderabad     22321 uwywy2h")

(1, 0, 0)

In [ ]:
#
def nom(T):
  r1=""
  for i in T:
    if i.isdigit()==False:
      r1+=i
  return r1

In [ ]:
nom("1223   2 2 dd")

'     dd'

In [1]:
h=[30,20,5,8,9]
h

[30, 20, 5, 8, 9]

In [3]:
numbers = [1, 2, 3, 4, 5]


updated_numbers = [i + 7 for i in numbers]


print("Original List:", numbers)
print("Updated List:", updated_numbers)

Original List: [1, 2, 3, 4, 5]
Updated List: [8, 9, 10, 11, 12]

In [4]:
numbers = [1, 2, 3, 4, 5]


updated_numbers = [i ** 7 for i in numbers]


print("Original List:", numbers)
print("Updated List:", updated_numbers)

Original List: [1, 2, 3, 4, 5]
Updated List: [1, 128, 2187, 16384, 78125]

In [5]:
s=(1,2,3,4,5)
supdatednumber=[i-2 for i in s]
print("original list: ", s)
print("updated list: ", supdatednumber)

original list:  (1, 2, 3, 4, 5)
updated list:  [-1, 0, 1, 2, 3]

In [6]:
m=[]
for i in s:
  if i>3:
    m.append(i)
print(m)

[4, 5]

In [10]:

k=[232,3,433,383,3222,]
k

[232, 3, 433, 383, 3222]